.content {
  padding: 20px 0;
  // border-bottom: 1px solid lighten($grey, 30%);
  .main & {
    h2 {
      margin-top: 10px;
      margin-bottom: 30px;
    }
    &.intro{
      text-align: center;
      h1{
        margin-top: 15px;
        margin-bottom: 40px;
      }
      h2 {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
    &:first-child{
      margin-top: 51px;
    }
    &:nth-child(2){
      background: $red;
      color: $white;
    }
    &:nth-child(4){
      background: $orange;
      color: $white;
    }
    &:nth-child(6){
      background: $green;
      color: $white;
    }
    @include respond-to($tablet) {
      &.contact{
        h2{
          text-align: center;
        }
      }
    }
  }
}
