form{
  input, textarea {
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 20px;
    border: 1px solid $grey;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
    outline-color: $orange;
    &[type=submit]{
      cursor: pointer;
      background: transparent;
      color: $white;
      background: $green;
      border-top: 3px solid lighten($green, 10%);
      border-bottom: 3px solid darken($green, 10%);
      outline: 0;
      &:hover, &:active{
        background: rgba($green, 0.9);
        &:active{
          background: rgba($green, 0.8);
        }
      }
    }
    &.half{
      width: calc(50% - 3px);
    }
  }
  .alert{
    padding: 10px 0 20px;
  }
  .is-hidden{
    display: none;
  }
  @include respond-to($tablet) {
    max-width: 400px;
    // margin: 0 auto;
  }
}
