.logo{
  position:relative;
  svg {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
    max-height: 50px;
  }
  .title{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    @extend %cantataOne;
    font-weight: 700;
    color: $blue;
    position: relative;
    top: -6px;
    i {
      font-style: normal;
      color: $blue-dark;
    }
  }
  .tagline{
    font-size: 9px;
    position: absolute;
    left: 55px;
    top: 33px;
    color: $grey;
    @extend %cantataOne;
    font-weight: 300;
    white-space: nowrap;
  }
  @include respond-to($tablet){
    .title{
      top: 3px;
    }
    .tagline{
      left: 171px;
      top: 25px;
    }
  }
}
