* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #444;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

%openSans {
  font-family: 'Open Sans', sans-serif;
}

%cantataOne {
  font-family: 'Cantata One', serif;
}


.wrap{
  max-width: 1147px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  // color: $blue;
  text-decoration: none;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  border-bottom: 1px dashed;
  svg{
    vertical-align: middle;
    margin-right: 5px;
  }
  &:hover, &:active{
    // color: darken($blue, 15%);
    font-weight: 300;
    border-bottom: 1px solid;
  }
}

h1, h2, h3, h4{
  @extend %cantataOne;
  margin-bottom: 0.6em;
  line-height: 1.5;
}

p {
  margin-top: 0;
  line-height: 1.5em;
}
