/*
Error: Invalid CSS after "      border": expected ";", was ": 0;"
        on line 19 of src/scss/partials/_header.scss
        from line 24 of src/scss/style.scss

14:     text-align: right;
15:     .link{
16:       display: inline-block;
17:       padding: 16px 0;
18:       vertical-align: middle
19:       border: 0;
20:       i{
21:         display: none;
22:         font-style: normal;
23:       }
24:     }

Backtrace:
src/scss/partials/_header.scss:19
src/scss/style.scss:24
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:1097:in `expected'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:1092:in `tok!'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:757:in `block in try_declaration'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:1137:in `rethrow'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:762:in `try_declaration'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:692:in `declaration_or_ruleset'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:631:in `ruleset'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:656:in `block_child'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/scss/parser.rb:42:in `parse'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/engine.rb:403:in `_to_tree'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/engine.rb:309:in `to_tree'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/stack.rb:88:in `block in with_import'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/stack.rb:88:in `with_import'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:412:in `run'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/michiel/.rvm/gems/ruby-2.3.1/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/Users/michiel/.rvm/gems/ruby-2.3.1/bin/sass:23:in `load'
/Users/michiel/.rvm/gems/ruby-2.3.1/bin/sass:23:in `<main>'
/Users/michiel/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `eval'
/Users/michiel/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"      border\": expected \";\", was \": 0;\"\A         on line 19 of src/scss/partials/_header.scss\A         from line 24 of src/scss/style.scss\A \A 14:     text-align: right;\A 15:     .link{\A 16:       display: inline-block;\A 17:       padding: 16px 0;\A 18:       vertical-align: middle\A 19:       border: 0;\A 20:       i{\A 21:         display: none;\A 22:         font-style: normal;\A 23:       }\A 24:     }"; }
